*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/resimler/kırmızı.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    margin: 20px;
    text-align: center;
    font-size: 30px;
}

label {
    color: rgb(232, 237, 241);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
    display: inline-block; /*boşluk vermek için*/
}

form{
    text-align: center;
    margin: 0 auto;
}
p{
    color: rgb(232, 237, 241);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 60px;
    display: inline-block; /*boşluk vermek için*/
    text-align: center;
    padding-left: 150px;
}

a{
    color: azure;
}

input{
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
}


button {
    color: lch(64.21% 55.72 268.28);
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bold;
    background-color: rgba(212, 208, 142, 0);
    border: none;
    margin-left: 320px;
}


